.horizontal {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-height:100%;
}

.vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.place-holder {
    display: grid;
    grid-template: 1fr / 1fr;
}