@inherits LayoutComponentBase

<div class="main">
    <div class="content-outer">
        <Logo Vertical="true"/>
        <Rules />
        <About />
        <div class="content">
            @Body
        </div>
    </div>
    <Bubble Size="200" Left="12" AnimationDuration="83" AnimationDelay="-72" />
    <Bubble Size="100" Left="20" AnimationDuration="127" AnimationDelay="-14"/>
    <Bubble Size="172" Left="36" AnimationDuration="103" AnimationDelay="-38"/>
    <Bubble Size="120" Left="47" AnimationDuration="99" AnimationDelay="-25"/>
    <Bubble Size="165" Left="62" AnimationDuration="83" AnimationDelay="-2" />
    <Bubble Size="140" Left="73" AnimationDuration="147" AnimationDelay="-124"/>
    <Bubble Size="112" Left="87" AnimationDuration="112" AnimationDelay="-110"/>
    <Bubble Size="155" Left="91" AnimationDuration="120" AnimationDelay="-45"/>
</div>
