@inherits LayoutComponentBase

<div class="main">
    <div class="content-outer">
        <Logo Vertical="true"/>
        <div class="content">
            @Body
        </div>
    </div>
    <div class="circle" id="c1"></div>
    <div class="circle" id="c2"></div>
    <div class="circle" id="c3"></div>
    <div class="circle" id="c4"></div>
</div>
