.main {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--theme-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-outer {
    width: 1500px;
    height: 800px;
    margin: 100px auto auto auto;
    position: relative;
    z-index: 10;
}

.content {
    height: 100%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 25px 0px #00000055;
}
