/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

:root {
    --theme-color1: #3f78c8;
    --theme-color2: #3fc878;
    --theme-gradient: linear-gradient(to right bottom, var(--theme-color1), var(--theme-color2));
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a, .btn-link {
    color: #0366d6;
}

div,
span {
    user-select: none;
}

input,
select {
    font-size: 1em;
}

button {
    height: 50px;
    font-size: 30px;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    border: 2px solid #ffffffcc;
    color: white;
    background-color: var(--theme-color1);
    box-shadow: 2px 2px 6px 2px #00000022;
}

    button:hover {
        box-shadow: 4px 4px 8px 2px #00000044;
    }

    button:disabled,
    button[disabled] {
        background-color: #cccccc;
        color: #666666;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#app {
    min-height: 100vh;
    width: 100%;
    background: var(--theme-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading_logo {
    margin-bottom: 40px;
    color: #fffc;
    font-size: 120px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -8px 8px 15px #00000055;
}

#loading {
    color: #fffc;
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -8px 8px 15px #00000055;
}

#blazor-error-ui {
    font-size: 1.5rem;
    background: darkorange;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 30px rgb(0 0 0 / 60%);
    display: none;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui a {
        color: white;
    }
