.about-button {
    position: absolute;
    width: 104px;
    left: -110px;
    top: 80px;
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 25px 0px #00000055;
}

.about-button:hover {
    box-shadow: 10px 10px 25px 0px #000000AA;
}

.about-dialog {
    position: absolute;
    left: 75px;
    top: 75px;
    width: 40%;
    z-index: 20;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 25px 0px #00000055;
    padding: 20px;
    color: black;
}

h1 {
    margin: 12px 0px;
    font-size: 26px;
    font-weight: bold;
}

p {
    font-size: 18px;
}