<button class="about-button" @onclick="() => ShowAboutDialog()">About</button>
@if (aboutVisible)
{
	<div class="about-dialog">
		<CloseButton CloseCommand="CloseAboutDialog" />
		<h1>About DRAW.FI</h1>
		<p>DRAW.FI is a multiplayer picture drawing and guessing game. It was developed by Tommy Rikberg as a late night project to study Blazor.</p>
		<p>DRAW.FI is coded in Blazor WASM, a new UI technology by Microsoft that lets you build web apps using C#.</p>
		<p>The source code is available free on <a href="https://github.com/trikberg/draw">GitHub</a>.</p>
		<p><b>Keyboard shortcuts:</b><br />
		   B - Brush tool<br />
		   F - Fill tool<br />
		   E - Eraser tool<br />
		   Z - Undo<br />
		</p>
    </div>
}

@code {
	bool aboutVisible = false;

	private void ShowAboutDialog()
	{
		aboutVisible = true;
	}

	private void CloseAboutDialog()
	{
		aboutVisible = false;
		StateHasChanged();
	}
}
