.exit-wrapper {
    position: absolute;
    left: -110px;
    top: 140px;
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 25px 0px #00000055;
}

.exit-wrapper button {
    width: 46px;
    height: 46px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ff2222bb;
    box-shadow: 2px 2px 6px 2px #00000022;
    font-weight: bolder;
    font-size: 32px;
}

.exit-wrapper button:hover {
    box-shadow: 10px 10px 25px 0px #000000AA;
}

.confirmation-dialog {
    position: absolute;
    left: -85px;
    top: 165px;
    z-index: 40;
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 25px 0px #00000055;
    padding: 20px;
}

.confirmation-text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
}