.playerdisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #ffffffaa;
    padding: 1px 10px;
    font-size: 20px;
    grid-gap: 10px;
    overflow: hidden;
}

    .playerdisplay.playerturn {
        background-color: #ffff66cc;
    }

    .playerdisplay.correct {
        background-color: #aaffaaaa;
    }

.player-name {
    height: 25px;
    font-weight: bold;
    line-height: 25px;
    white-space: nowrap;
}

.player-name.disconnected {
    color: lightsteelblue;
}

.player-score {
    height: 25px;
    font-weight: normal;
    line-height: 25px;
}

.player-position {
    font-weight: normal;
}
