@implements IDisposable
@inject IGameService GameService

<div>
    Round @(GameService.GameState.CurrentRound) / @(GameService.GameState.RoundCount)
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        GameService.GameState.RoundStarted += RoundStarted;
    }

    public void Dispose()
    {
        GameService.GameState.RoundStarted -= RoundStarted;
    }

    private void RoundStarted(object? sender, EventArgs _)
    {
        StateHasChanged();
    }
}
