<button class="rules-button" @onclick="() => ShowRulesDialog()">Rules</button>
@if (rulesVisible)
{
	<div class="rules-dialog">
		<CloseButton CloseCommand="CloseRulesDialog" />
		<h1>Rules</h1>
		<p>DRAW.FI is a multiplayer picture drawing and guessing game.</p>
		<p>The game is played over a number of rounds, by default 3. During each round every player takes their turn being the one to draw a picture corresponding to a given word. When one player is drawing the others try to guess the word as quickly as possible and are scored based on how fast they can guess. The drawer is also scored based on how many players guessed the word correctly. After all rounds are completed, the player with the most points is the winner.</p>
		<p>The creator of a room (or the first player on the player list if the creator is no longer in the room), can choose the parameters of the game: language, number of rounds, maximum time per word and word difficulty. The room can be set to public so anyone can join or private with a password.</p>
		<h1>Scoring</h1>
		<p>The guessers are scored based on how fast they can guess the correct word. The fastest player scores 100 points. Following players receive points in relation to how fast they answer compared to the fastest player. For example, if the fastest player guesses the correct word when 60 seconds remain on the clock and the second player guesses correctly when 30 seconds remain on the clock, the second player receives half the points, i.e. 50 points. However, when the first two players guess correctly the remaining time is reduced by 25%, so the second fastest player can never score more than 75 points.</p>
		<p>The drawer scores points based on the percentage of other players that guess correctly within the time limit. If all of the guessers guessed correctly, the drawer receives 100 points. If half of them did so, the drawer receives 50 points. In addition the drawer gets points for the word difficulty, a word of difficulty 1 awards 1 point, a word of difficulty 2 awards 2 points and so on.</p>
    </div>
}

@code {
	bool rulesVisible = false;

	private void ShowRulesDialog()
	{
		rulesVisible = true;
	}

	private void CloseRulesDialog()
	{
		rulesVisible = false;
		StateHasChanged();
	}
}
