div {
    background-color: white;
    height: 20px;
    width: 20px;
    border: 2px solid #ffffffaa;
    border-radius: 4px;
}

div:hover {
    box-shadow: 1px 1px 4px 0px #00000077;
}

.active {
    outline: 2px solid black;
}
