@implements IDisposable
@inject IGameService GameService

<div>@(timeString)s</div>

@code {
    private string timeString => GameService.GameState.TurnTimer.RemainingSeconds.ToString();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        GameService.GameState.TurnTimer.TurnTimerChanged += TurnTimerChanged;
    }

    public void Dispose()
    {
        GameService.GameState.TurnTimer.TurnTimerChanged -= TurnTimerChanged;
    }

    private void TurnTimerChanged(object? sender, int time)
    {
        StateHasChanged();
    }
}