.word-choice {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content:center;
    align-items:center;
}

h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

button {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}